<header class="container_12 clearfix">
                    <div class="grid_12">
                        <h1>Новый Цилиндр</h1>
                    </div>
</header>


<%= render 'form' %>

<%= link_to 'Назад ', cylinders_path %>
