<header class="container_12 clearfix">
                    <div class="grid_12">
                        <h1>Новая фурнитура</h1>
                    </div>
</header>

<%= render 'form' %>

<%= link_to 'Назад', findings_path %>
