<header class="container_12 clearfix">
                    <div class="grid_12">
                        <h1>Новый эскиз запирания</h1>
                    </div>
</header>

<%= render 'form' %>

<%= link_to 'Назад', locks_path %>
